#contentWrapper {
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
    .rounded-corners;
}

#roster {
    margin: 10px;
}

.playerName {
    display: inline-block;
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
    width: 200px;
}

    .playerName a:link, .playerName a:visited, .playerName a:active {
        color: black;
        text-decoration: none;
    }

    .playerName:hover {
        background: orange;
    }

.playerJersey {
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
}
