@navGradient1: deepskyblue;
@navGradient2: lightgray;

@navBarHeight: 80px;
@navButtonHeight: 30px;

.set-gradient( @color1: gray, @color2: lightgray ) {
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, @color2 0%, @color1 100%);
    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, @color2 0%, @color1 100%);
    
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, @color2 0%, @color1 100%);
    
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, @color2), color-stop(1, @color1));
    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, @color2 0%, @color1 100%);
    
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, @color2 0%, @color1 100%);
}

#navWrapper {
    position: fixed;
    width: 100%;
    background: @navGradient2;
}

#navSpacer {
    height: 20px;
}

#navBar {
    height: @navBarHeight;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .set-gradient( @navGradient1, @navGradient2 );
}

    #navBar ul {
    }

        #navBar ul li {
            float: left;
        }

    #teamLogo {
        width: @navBarHeight - 10;
        height: @navBarHeight - 10;
        margin: 5px 10px 5px 10px;
        float: left;
        .rounded-corners;
        background-size: cover;
    }

.navButton {
    height: @navButtonHeight;
    margin: (@navBarHeight - @navButtonHeight)-16px 5px 0px 5px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    line-height: @navButtonHeight;
    text-decoration: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    .rounded-top-left;
    .rounded-top-right;
    cursor: pointer;
        .set-gradient( white );
}

    .navButtonSelected {
    .set-gradient;
    }

    .navButton:hover {
        .set-gradient( orange );
    }

