#navBar {
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

    #navBar ul {
    }

        #navBar ul li {
            float: left;
        }

            #navBar ul li span {

                border: 1px solid blue;
            }

    #teamLogo {
        width: 80px;
        height: 80px;
        margin: 0px 10px 0px 10px;
        float: left;
        .rounded-corners;
        background-size: cover;
    }

.navButton {
    .rounded-top-left;
    .rounded-top-right;
    top: 0px;
    height: 50px;
    background: deepskyblue;
    margin: 30px 2px 0px 2px;
    border: 1px solid black;
    border-radius-bottom-right: 0px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
}

    .navButton:hover {
        background: orange;
    }

